client/node_modules/
client/package-lock.json
client/package.json
server/node_modules/
server/.env
server/package-lock.json
server/package.json
server/id_rsa_priv.pem
server/id_rsa_pub.pem
server/id_aesKey.pem
```